@import "base";

.vue-command {
  .term {
    border: 0;
  }

  .term-std {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
  }

  .term-stdout p {
    margin: 0;
  }

  ul {
    list-style-type: none;
    padding: 0 1rem;

    li::before {
      content: '* ';
    }
  }
}