<template>
	<div>
		<p v-if="state === 'before'">
			Only
			<RainbowText :text="remainingTime" :running="$_isRunning" /> remaining
			until 37c3!
		</p>
		<p v-else-if="state === 'running'">
			37c3 is running for
			<RainbowText :text="remainingTime" :running="$_isRunning" />!
		</p>
		<p v-else>37c3 is already over :( See you next year!</p>
	</div>
</template>

<script>
import RainbowText from '../components/RainbowText';

const SECOND = 1000;
const MINUTE = SECOND * 60;
const HOUR = MINUTE * 60;
const DAY = HOUR * 24;
const congressStart = new Date('2021-12-27T10:00:00+0200');
const congressEnd = new Date('2021-12-30T18:00:00+0200');

export default {
	components: { RainbowText },
	data() {
		return { state: 'before', interval: undefined, remainingTime: '' };
	},
	methods: {
		leave() {
			window.clearInterval(this.interval);
			this.$_done();
		},
		calculateRemaining() {
			const now = Date.now();

			this.state =
				congressStart < now
					? congressEnd < now
						? 'ended'
						: 'running'
					: 'before';

			if (this.state === 'ended') return this.$_done();

			let d = Math.abs(congressStart - now);

			const units = ['day', 'hour', 'minute', 'second'];

			this.remainingTime = [DAY, HOUR, MINUTE, SECOND].reduce((p, c, i) => {
				const unit = units[i];
				const isLast = i === units.length - 1;

				const value = Math[isLast ? 'round' : 'floor'](d / c);
				d -= value * c;

				const s = `${value} ${unit}${value !== 1 ? 's' : ''}`;
				return isLast ? (p += ` and ${s}`) : (p += `${s}, `);
			}, '');
		}
	},
	mounted() {
		this.interval = window.setInterval(this.calculateRemaining, 1000);
		this.calculateRemaining();

		window.addEventListener(
			'keydown',
			e => {
				if (e.key === 'c' && e.getModifierState('Control')) {
					this.leave();
				}
			},
			true
		);
	}
};
</script>
