<template>
	<div>
		<p>You may be wondering what exactly a Klieh is. To put it shortly:</p>

		<p>
			As Mr Moritz erstwhile booted up his mobile computing device at GPN19 in
			Karlsruhe and was desiring discussion about the most recent developments
			in command-line interface applications, there was only one option to
			enunciate this word briefly and without the use of Anglo-Saxon: Klieh -
			and so, the utmost German expression of CLI, was born. Since then, the
			usage of Klieh has spread widely and is a beloved and integral part of
			anyone's day-to-day vocabulary. In 1953 already, it was introduced to the
			German dictionary Duden, only to be elected as the Youth Slang Word Of the
			Century one year later. Long live the Klieh!
		</p>

		<p>It's pronounced /cli:/.</p>
	</div>
</template>

<script>
export default {
	mounted() {
		this.$_done();
	}
};
</script>

<style lang="scss" scoped>
div p:not(:last-of-type) {
	margin-bottom: 1em;
}
</style>
