<template>
	<div v-if="display === 'info'">
		<p v-for="variable in Object.keys(variables)" :key="variable">
			{{ variable }}={{ variables[variable] }}
		</p>
	</div>
	<div v-else />
</template>

<script>
import * as exportStore from './exportStore';

export default {
	data() {
		return {
			display: '',
			variables: {}
		};
	},
	mounted() {
		if (this.$_arguments._.length <= 1) {
			this.variables = exportStore.getAll();
			this.display = 'info';
			return this.$_done();
		}

		const regex = /^([a-zA-Z_][a-zA-Z_0-9]*)="?(.*?)"?$/gm;
		const result = regex.exec(this.$_arguments._[1]);

		if (result) {
			const [, key, value] = result;
			exportStore.set(key, value);
		}

		this.$_done();
	}
};
</script>
