<template>
	<div>
		<p>Try one of the following commands:</p>

		<ul>
			<li v-for="command in commands" :key="command" v-text="command" />
		</ul>
	</div>
</template>

<script>
import commands from '.';

export default {
	data() {
		return {
			commands: Object.keys(commands).sort()
		};
	},
	mounted() {
		this.$_done();
	}
};
</script>
