<template>
	<div>
		<p>
			<strong>
				Welcome to <RainbowText text="klieh.space" :running="$_isRunning" />!
			</strong>
		</p>
		<p>Try one of the following commands by entering them into the shell:</p>
		<ul>
			<li v-for="command in commands" :key="command">
				<ShellButton @click.native="execute(command)">
					{{ command }}
				</ShellButton>
			</li>
		</ul>
		<p>
			You can exit this program by pressing Ctrl + C or by clicking
			<ShellButton @click.native="leave()">here</ShellButton>.
		</p>
	</div>
</template>

<script>
import RainbowText from '../components/RainbowText';
import ShellButton from '../components/ShellButton';

export default {
	components: { RainbowText, ShellButton },
	data() {
		return { commands: ['about', 'home', 'stripper', 'party'] };
	},
	methods: {
		leave() {
			this.$_done();
		},
		execute(command) {
			this.leave();
			this.$_executeCommand(command);
		}
	},
	mounted() {
		window.addEventListener(
			'keydown',
			e => {
				if (e.key === 'c' && e.getModifierState('Control')) {
					this.leave();
				}
			},
			true
		);
	}
};
</script>

<style lang="scss" scoped>
li {
	margin: 0.5rem 0;
}
</style>
