<template>
	<div v-if="state === 'help' || state === 'no-pass'">
		<p>Usage:</p>
		<p>matelist increment NAME</p>
		<p>matelist set NAME AMOUNT</p>
		<p>matelist count NAME</p>
		<p>matelist all</p>
		<p :style="{ color: state === 'no-pass' && 'red' }">
			You need to set a password beforehand using export MATEPASS=foobar
		</p>
	</div>
	<div v-else-if="state === 'single'">Count for {{ user }}: {{ count }}</div>
	<div v-else-if="state === 'all'">
		<p v-for="user in Object.keys(all)" :key="user">
			Count for {{ user }}: {{ all[user] }}
		</p>
	</div>
	<div v-else-if="state === 'error'">{{ error }}</div>
	<div v-else />
</template>

<script>
import * as exportStore from './exportStore';
const HOST = 'https://krmax44.de/kliehstore/';

export default {
	data() {
		return {
			state: 'loading',
			user: '',
			count: 0,
			all: {},
			error: ''
		};
	},
	async mounted() {
		const [, command, user, value] = this.$_arguments._;
		const pass = exportStore.get('MATEPASS');

		if (!pass) {
			this.state = 'no-pass';
			return this.$_done();
		}

		let url = `${HOST}?pass=${pass}`;
		let single = true;

		if (command === 'increment') {
			url += `&increment=1&user=${user}`;
		} else if (command === 'set') {
			url += `&set=1&user=${user}&value=${value}`;
		} else if (command === 'count') {
			url += `&user=${user}`;
		} else if (command === 'all') {
			single = false;
		} else {
			this.state = 'help';
			return this.$_done();
		}

		try {
			const response = await fetch(url, { mode: 'cors' }).then(r => r.json());
			if (response.error === 'pass') {
				throw new Error('Wrong password');
			}

			if (single) {
				this.user = user;
				this.count = response.count;
				this.state = 'single';
			} else {
				this.all = response;
				this.state = 'all';
			}
		} catch (e) {
			this.error = e.toString();
			this.state = 'error';
		} finally {
			this.$_done();
		}
	}
};
</script>
