<template>
	<div v-if="state === 'intro'">
		paarty
		<template v-if="introState === 1">
			yeeaah
		</template>
	</div>
	<div v-else-if="state === 'loop'">
		<RainbowText :text="lyricsText || ' '" :running="$_isRunning" />
		<p>Score: {{ loopCount }}</p>
	</div>
	<div v-else />
</template>

<script>
import { Howl } from 'howler';
import RainbowText from '../components/RainbowText';
import partyIntro from '../assets/audio/party-intro.mp3';
import partyLoop from '../assets/audio/party-loop.mp3';

const P = 'PARTY';
const L = 'LEBEN';

export default {
	components: { RainbowText },
	data() {
		return {
			state: 'loading',
			introState: 0,
			loopCount: 1,
			intro: undefined,
			loop: undefined,
			lyrics: {
				0: P,
				865: L,
				1701: P,
				2577: L,
				3425: P,
				4296: L,
				5062: P,
				5474: P,
				5770: P,
				6050: P,
				6426: P
			},
			tick: 0,
			tickInterval: undefined
		};
	},
	computed: {
		lyricsText() {
			return Object.keys(this.lyrics)
				.filter(t => t < this.tick)
				.map(t => this.lyrics[t])
				.join(' ');
		}
	},
	async mounted() {
		this.intro = new Howl({
			src: [partyIntro],
			autoplay: false,
			loop: false
		});

		this.loop = new Howl({
			src: [partyLoop],
			autoplay: false,
			loop: true,
			sprite: {
				party: [0, 6866, true]
			}
		});

		this.intro.on('seek');

		this.loop.on('seek', () => {
			this.loopPosition = this.loop.seek();
		});

		this.intro.on('end', () => {
			this.loop.play('party');
			this.restartClock();
			this.state = 'loop';
		});

		this.loop.on('end', () => {
			console.log('LOOP END');
			this.loopCount++;
			this.restartClock();
		});

		window.addEventListener(
			'keydown',
			e => {
				if (e.key === 'c' && e.getModifierState('Control')) {
					this.leave();
				}
			},
			true
		);

		const promises = [this.intro, this.loop].map(
			i =>
				new Promise(r => {
					if (i.state() === 'loaded') return r();
					i.once('load', r);
				})
		);
		await Promise.all(promises);
		this.intro.play();
		this.state = 'intro';
		setTimeout(() => {
			this.introState = 1;
		}, 750);
	},
	methods: {
		restartClock() {
			this.tick = 0;
			clearInterval(this.tickInterval);
			this.tickInterval = setInterval(() => {
				this.tick = this.tick + 10;
			}, 10);
		},
		leave() {
			this.intro.stop();
			this.loop.stop();
			clearInterval(this.tickInterval);
			this.$_done();
		}
	}
};
</script>
