<template>
	<div v-if="display === 'info'">
		<p>
			Stripper is a software suite to control RGB led strips with individually
			addressable diodes, producing real sexy animations. The user can control
			it via a web UI and of course, a Python Klieh is also available. Find the
			code on our Gitlab:
			<a href="https://gitlab.com/klieh/stripper-server"
				>https://gitlab.com/klieh/stripper-server</a
			>
		</p>

		<p>You can control your Stipper server using this Klieh as well!</p>
		<p>Usage: stripper [COMMAND] [FLAGS]</p>

		<ul>
			<li>power [on | off]</li>
			<li>brightness [0 - 255]</li>
			<li>speed [0 - 255]</li>
			<li>gradient [int]</li>
			<li>mode [int]</li>
			<li>color [r] [g] [b] (each integer values between 0 and 255)</li>
			<li>
				--server: required. IP address or hostname, including protocol (http or
				https). Alternatively, you can set the env variable STRIPPER_SERVER.
			</li>
		</ul>

		<p>Example: stripper power on --server http://localhost:1234</p>
	</div>
	<div v-else-if="display === 'error'">
		<p><span class="error">❌ ERROR:</span> {{ errorMessage }}</p>
	</div>
	<div v-else-if="display === 'success'">
		<p class="success">✅ SUCCESS</p>
	</div>
	<div v-else />
</template>

<script>
import * as exportStore from './exportStore';

export default {
	data() {
		return {
			display: 'loading',
			errorMessage: ''
		};
	},
	async mounted() {
		// user entered `stripper` or `stripper --help`
		if (this.$_arguments._.length === 1 || this.$_arguments.help) {
			this.display = 'info';
			return this.$_done();
		}

		const args = this.$_arguments;
		const server = args.server || exportStore.get('STRIPPER_SERVER');

		if (!server) {
			return this.error('Please provide a Stripper server URL.');
		}

		const [, command] = args._;
		const parameters = args._.slice(2);
		const [value] = parameters;

		switch (command) {
			case 'power':
				if (!['on', 'off'].includes(value)) {
					return this.error('Please provide a proper power state.');
				}

				await this.api(server, { on: value === 'on' });
				break;

			case 'brightness':
				await this.apiIfInRange(server, 'brightness', value);
				break;

			case 'speed':
				await this.apiIfInRange(server, 'speed', value);
				break;

			case 'gradient':
				await this.apiIfInt(server, 'gradient', value);
				break;

			case 'mode':
				await this.apiIfInt(server, 'mode', value);
				break;

			case 'color':
				if (parameters.length === 3 && parameters.every(p => isInRange(p))) {
					await this.api(server, { color: parameters });
				} else {
					this.error(
						'Please provide proper integer values between 0 and 255 for r, g, and b.'
					);
				}

				break;
		}
	},
	methods: {
		error(error) {
			this.display = 'error';
			this.errorMessage = error;
			this.$_done();
		},
		async api(url, data) {
			try {
				const response = (await fetch(
					`${url}${url.endsWith('/') ? '' : '/'}api`,
					{
						method: 'POST',
						mode: 'cors',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify(data)
					}
				)).json();

				if (response.status === 'error') {
					this.error('Stripper server responded with an error.');
					return false;
				}

				this.display = 'success';
				this.$_done();
			} catch (e) {
				this.error("Couldn't connect to Stripper server.");
			}
		},
		apiIfInRange(server, key, value, a = 0, b = 255) {
			if (isInRange(value, a, b)) {
				return this.api(server, { [key]: value });
			}

			this.error('Value must be an integer between 0 and 255.');
		},
		apiIfInt(server, key, value) {
			if (parseInt(value) == value) {
				return this.api(server, { [key]: value });
			}

			this.error('Value must be an integer.');
		}
	}
};

function isInRange(n, a = 0, b = 255) {
	const int = parseInt(n);
	return a <= int && int <= b && int == n;
}
</script>

<style lang="scss" scoped>
.success {
	color: #00ff00;
}

.error {
	color: #ff0000;
}
.success,
.error {
	font-weight: bold;
}

p:not(:last-of-type):not(:first-of-type) {
	margin: 1em 0;
}
</style>
