<template>
	<span>
		<span
			v-for="(char, i) in text"
			:key="i"
			v-text="char"
			:style="{ color: color(i) }"
		/>
	</span>
</template>

<script>
const colors = [
	'#FF0000',
	'#FF9900',
	'#CCFF00',
	'#33FF00',
	'#00FF66',
	'#00FFFF',
	'#0066FF',
	'#3300FF',
	'#CC00FF',
	'#FF0099'
];

export default {
	props: {
		text: {
			required: true,
			type: String
		},
		running: {
			type: Boolean,
			default: true
		}
	},
	data() {
		return { i: 0, interval: undefined };
	},
	mounted() {
		this.start();
	},
	methods: {
		color(i) {
			i += this.i;
			const offset = Math.floor(i / colors.length) * colors.length;
			return colors[i - offset];
		},
		start() {
			this.interval = setInterval(() => {
				this.i++;
			}, 40);
		},
		stop() {
			clearInterval(this.interval);
			this.interval = undefined;
		}
	},
	watch: {
		running(running) {
			if (!running) {
				this.stop();
			} else if (this.interval === undefined) {
				this.start();
			}
		}
	},
	beforeDestroy() {
		this.stop();
	}
};
</script>
