<template>
	<div>
		<vue-command :commands="commands" :hide-bar="true" @execute="updateRoute">
			<template v-slot:prompt>
				<span class="prompt prompt-start">shell@klieh</span>
				<span class="prompt prompt-middle">$</span>
			</template>
		</vue-command>
	</div>
</template>

<script>
// using vue-command dev version for now
import VueCommand from 'vue-command/src/components/VueCommand';
import 'vue-command/src/scss/mixins.scss';
import commands from './commands';

export default {
	name: 'app',
	components: { VueCommand },
	data() {
		return { commands, mounted: false };
	},
	methods: {
		updateRoute(command) {
			if (this.mounted && command !== 'echo') {
				const hash = command === 'home' ? '' : `#${command}`;
				window.location.hash = hash;
			}
		}
	},
	async mounted() {
		const path = window.location.hash.slice(1);
		const command = decodeURIComponent(path) || 'home';

		// execute command on page load
		this.$children[0].bus.$emit('setCommand', command);
		await this.$nextTick();
		await this.$children[0].handle(command);

		this.mounted = true;
	}
};
</script>

<style lang="scss" scoped>
.vue-command {
	background-color: #282c34;

	>>> * {
		font-family: Fira Code !important;
	}
}

.prompt {
	padding: 0 10px;
	line-height: 1em;
	font-size: 1em;
	color: #282c34;
}

.prompt-start {
	background-color: #61aeee;
}

.prompt-middle {
	background-color: #97c279;
	border-radius: 0 10px 10px 0;
	padding-right: 15px;
}
</style>
